.imgFluid {
    margin-left: -30px;
    width: 70vw;
    height: 100vh;
  }

  div.box {
    height: 34px;
    width: 100px;
    background-color: #CFD4ED;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    background-color: #0D28A6;
    height: 48px;
    margin-bottom: 16px;
  }
  
  .contents {
    margin: auto;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }

  .textSignUp{
      font-size: 14px;
  }

.welcomeText{
    padding-top: 60px;
    margin-left: -50px;
}
.sewa{
    font-size: 36px;
    font-weight: 700;
}
.selamat{
    font-size: 14px;
}

div.boxHome {
  height: 34px;
  width: 100px;
  background-color: #0D28A6;
  border-radius: 5px;
  margin-top: 15px;
}